.AddPackage_NavbarClientVertical{
    display: flex;
    position: absolute;
}
.AddPackage{
    background-color: rgb(239, 240, 241);
    width: 1066px;
    height: 100vh;

}
.states{
    display: flex;
}
form{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 50px;
}
.form_add{
    margin: 10px;
}