*{
    font-family:  "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.box{
    position:relative;
    box-shadow: 0 5px 25px rgb(1, 1, 1,15%);
    width:  300px;
    height: 150px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 20px;
    display: inline;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    margin-left: 40px;
    margin-top: 60px;
    
}



.card_homeclient{ 
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;  
}
.box h1{
    color:  #393a6d;
/* padding-left: 160px; */  
 padding-bottom: 30px; 
}
.box h6{
    color: #393a6d;
    text-align: center;
    font-weight: 700;
    margin-left: 100px;
}
.span_icons_green{
    width: 50px;
    background-color: #24f369;
    height: 50px;
    text-align: center;
    border-radius: 10px;
}
.span_icons_red{
    width: 50px;
    background-color: rgb(243, 36, 36);
    height: 50px;
    text-align: center;
    border-radius: 10px;
}
.icons_statistics{
    padding-top: 14px;
}
