.ListPackage{
    display: flex;
}

button{
    width: 200px;
    height: 40px;
}
h2{
    margin-right: 500px;
}
.section_list_colis{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    margin-left: 20px;
}
.bg{

    background-color: rgb(247, 248, 248);
}