*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{ 
    align-items: center;
    min-height: 100vh;
}
.section_client{
    display: flex;
    flex-direction: row;
}
.content{
    width: 100%;
    background-color: #fafafa;
}
.logo_mamexpress{
    color: #F2CC8F;
    text-align: center;
    padding-top: 5px;
}
.userlogo{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 20px 100px 40px ;
}
.username{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #F2CC8F;
}
.titles{
    padding-left:20px ;
    padding-top: 20px;
}
.vertical_navbar{
    position: relative;
    height: 100vh;
    width: 300px;
}
.list_navbar_vertical{
    display: flex;
}

.vertical_navbar ul{
    position: absolute;
}
.vertical_navbar ul li{
    position: relative;
    list-style: none;
    padding: 5px;
    border-radius: 10px;
    width: 200px;
}
.vertical_navbar ul li:hover{
    background-color:#e3e3eb;
  
}
.vertical_navbar ul li a:hover{
    color: rgb(0, 0, 0);
}
.vertical_navbar ul li a{
    position: relative;
    display: flex;
    text-decoration: none;
    color:#504a4a;
    font-weight: 500;
    border-radius: 20px;
    padding: 4px;
}

.horizentalNav{
    background-color:  #393a6d;
    height: 60px;
    width:  1116px;
}
.icon_navigation_horezental{
    width: 40px;
    border-radius: 10px;
    margin-left: 700px;
}
.icon_menu_vertical{
}
.Home_NavbarClientVertical{
display: flex;
}

