.ReturnedRequest{
    display: flex;
}
.ReturnedRequest_bg{
    background-color: rgb(231, 231, 231);
width: 100%;
}
.request_info{
border-radius: 10px;
background-color: white;
box-shadow: 0 5px 25px rgb(1, 1, 1,15%);
width: 90%;
height: 300px;
margin: 90px 50px;
padding: 40px;
}