.image_user{
    width: 100px;
    border-radius: 10px;
    margin: 100px 150px;
}
.Factures{
    display: flex;
}
.ClientInfo{
    /* box-shadow: 0 5px 25px rgb(1, 1, 1,15%); */
border-radius: 10px;
margin: 80px;
}
.Client_data{
margin-top: 80px;
/* box-shadow: 0 5px 25px rgb(1, 1, 1,15%); */
padding: 4px 50px;
}
.labels{
border-bottom: 1px solid black;
}
.Fatures_bg{
    width: 100%;
}
hr{
    background-color:black;
    color:black;
    -webkit-transform:rotate(90deg);
    position:absolute;
    width:500px;
left: 600px; 
top: 400px;
   height:2px;
    border:2px;
}
