body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .About_page{
    background-color: #ffffff;
    text-align: center;
  }
.about_info{
  display: flex;
}
  
  .about-section {
    padding: 20px;
    text-align: center;
    background-color:#ffffff;
    color: #000000;
  }
  .span_about{
background-color: #F2CC8F;  
color:#3D405B ;}
  .title_about{
    color: #3D405B;
    font-size: 2em;
    font-weight: 300;
    padding-left: 500px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .encoraged{
    font-weight: 600;
  }

  
 
  
 
  
  /* @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }

    .about_info{
        display: block;
      }
  } */