.home{
    background-image: url(../../images/Yellow\ Colorful\ Fun\ Illustrative\ Delivery\ Business\ Presentation\ \(8\).png);
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background-attachment:fixed ; 
    
}
.img_background{
    position: absolute;
    width: 600px;
    height: 100vh;
    padding-left: 300px;
    padding-bottom: 30px;
}

.Home_page{
    height:100vh;
}
.hero-page{
    padding-top: 150px;
    padding-left: 100px;
}
h1{
font-family: fantasy;
color:#3D405B;

}
.paragraph{
    color:#3D405B;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* margin-left: 100px;*/
    padding-top: 40px; 
    font-size: 17px;
}
.span{
    background-color:#F2CC8F ; 
    font-family: fantasy;
    color:#3D405B;

}
#btn-color{
    background-color: #F2CC8F;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 60px;
}


@media screen and (max-width: 992px) {    
    .Home_page{
        background-image:url(../../images//Mobile\ Your\ Story\ \(2\).png) ;
        
    }
    }

@media screen and (max-width: 600px) {
    .img_background{
        display: none;
    }
    .hero-page{
        padding-top: 90px;
        padding-left: 0px;
    }
    #btn-color{
        
    }
    }
