.HowItWorks{
    background-color:#F2CC8F ;
    height: 100vh ;
}
.image-slider{
    width:100% ;
    height: 570px;
}

.title-work{
        color:#3D405B;
        justify-content: center;
        font-size: 2.2em;
        font-weight: 800;
        margin-bottom: 40px;    
}
.h1_slider{
    padding-bottom: 60px;
    padding-right: 600px;
    color: #3D405B;
    font-weight: 200;
}
.Info_slider{
    padding-bottom:180px;
    padding-right: 600px;
    font-size: 20px;
    justify-content: space-between;
    color:#ac6b02 ;


}
.slider_type2{
    color: #3D405B;
    font-weight: 200;
    padding-left: 230px;
    padding-bottom: 30px;
}
.Info_slider_t2{
    font-size: 20px;
    justify-content: space-between;
    color:#ac6b02 ;
    padding-bottom: 200px;
    padding-left: 230px;
}
.slider_type3{
    color:#3D405B;
    padding-bottom:20px ;

  
}
.Info_slider_t3{
    color:#ac6b02 ;
    padding-bottom: 340px;
    font-size: 20px;

}