*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    scroll-behavior: smooth;
}

.container_navbar{
    background-color: #3D405B;
}
.logo{
   color:#F2CC8F ;
    font-weight: 800;
  
     
}

.navbar-item{
    padding-left: 150px;
}
.me-auto{
    margin-left: 150px;
}
.btnnav{
    border: #F2CC8F solid 2px;
    margin-left: 10px;
    border-radius: 10px;
}
.btnnav:hover{
    background-color: #F2CC8F;
}
@media screen and (max-width: 600px) {
   .btnnav{
    width: 80px;
    margin-left: 150px;
    text-align: center;
    margin-bottom: 10px;
   }
   
    }