*{
    font-family:  "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}
.services{
    position: relative;
    width: 100%;
  
}
.services_pretty{
    background-color: rgb(236, 236, 255);
    width: 1200px;
    margin: 70px 80px;
    border-radius: 10px;
    padding-bottom: 40px;
}
.title_services{
    display: flex;
    color:#3D405B;
    justify-content: center;
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 50px;
    padding-top: 10px;
}

.services_all_cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;    
}
.services_cards{
    /* border: 3px #3D405B solid; */
    width: 250px;
    margin-left:30px;
    border-radius: 30px;
    background-color:white;
    box-shadow: 0 5px 25px rgb(1, 1, 1,15%);
    padding-bottom:10px;
    transition: 0.75s ease;
}
.services_cards:hover{
    transform: scale(1.1);
}
.icons{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.services_icon{
    font-size: 40px;
    color: #3D405B;
    position: relative;

}
.services_icon:hover{
    color: #F2CC8F;
}
.title_card{
    text-align: center;
    font-weight: 500;
    color: #3D405B;
    padding-bottom: 20px;

}
.info{
    text-align: center;
    position: relative;
    
}
p{
    font-size: 14px;
}


