.table-color{
    background-color: #3D405B;
    color: white;
    

};
.btn_search{
    margin-bottom:20px;
    border:2px solid grey;
    text-align:center;
    position:relative;
}
.section_tarif input{
    margin-bottom:40px;
    border:2px solid grey;
    text-align:center;
    position:relative;
    width: 30%;
    margin-top: 30px;
}

.section_tarif{
    height: 100vh;
   

}
.title_tarif{
    margin-top: 30px;
}
